.popup__button-close {
    position: absolute;
    right: -40px;
    top: -40px;
    background-image: url(/image/icon/Close_Icon.svg);
    background-repeat: no-repeat;
    background-color: transparent; 
    width: 32px;
    height: 32px;
    border: none;
    padding: 0;
}

.popup__button-close:hover {
    opacity: 0.5;
}